<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<div>
    <h2>Страница регистрации!</h2>
    <form action="/registration" method="post">
        <div style="color: red" th:if="${errors}">
            <p th:each="error : ${errors}" th:text="${error.defaultMessage}">
                Error message
            </p>
        </div>
        <div>
            <input id="username" type="text" name="username">
            <label for="username"><span th:text="#{login.username}">Username</span></label>
        </div>
        <div>
            <input id="password" type="password" name="rawPassword">
            <label for="password"><span th:text="#{login.password}">Password</span></label>
        </div>
        <button type="submit">Register</button>
    </form>
    <form action="/login">
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>