<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:insert="~{fragment :: header}"></div>
    <H1>HOME</H1>
    <div>Пользователь</div>
    <div th:text="${userReadDto.username}">Имя пользователя</div>
    <p th:if="${userReadDto.role.name() == 'CAMPER'}">
        Админ вам выдал доступ отдыхающего
    </p>
    <p th:if="${userReadDto.role.name() == 'WORKER'}">
        Админ вам выдал доступ Раблочего
    </p>
    <div>Список подразделений</div>
    <div>Список видов дисциплин</div>
    <div th:each="category : ${categories}">
        <a th:href="@{'/event/' + ${category}}" th:text="${category}">Category</a>
    </div>
</body>
</html>