<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:insert="~{fragment :: header}"></div>
    <h1>Страница расписаний</h1>
    <h2>Расписания</h2>
    <form action="/admin/schedules">
        <div>
            <label for="page">Page:
                <input id="page" type="number" name="page" th:value="${schedules.metadata.page}">
            </label><br>
            <label for="size">Size:
                <input id="size" type="number" name="size" th:value="${schedules.metadata.size}">
            </label><br>
        </div>
        <button type="submit">Вывести</button>
    </form>
    <div th:text="|Количество пользователей ${schedules.metadata.totalElements}|">Общее количество расписаний</div>
    <div th:each="schedule : ${schedules.content}">
        <a th:href="@{'/admin/schedules/' + ${schedule.id}}" th:text="|${schedule.dateTime} ${schedule.status.name()} ${schedule.action}|">Schedule</a>
        <form th:action="@{'/admin/schedules/' + ${schedule.id} + '/delete'}" method="post" style="display: inline;">
            <button>Удалить</button>
        </form>
        <form th:action="@{'/admin/schedules/' + ${schedule.id} + '/update'}" method="post" style="display: inline;">
            <button>Обновить</button>
        </form>
    </div>
    <a th:href="@{'/admin/schedules/create'}">Создать расписание</a>
</body>
</html>