<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5433/postgres</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">pass</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgresPlusDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
<!--        <property name="hibernate.cache.use_second_level_cache">true</property>-->
<!--        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.jcache.internal.JCacheRegionFactory</property>-->
<!--        <property name="hibernate.hbm2ddl.auto">create</property>-->
        <property name="current_session_context_class">thread</property>

        <mapping class="ru.sbercraft.service.entity.Camper"/>
        <mapping class="ru.sbercraft.service.entity.Event"/>
        <mapping class="ru.sbercraft.service.entity.ExtraService"/>
        <mapping class="ru.sbercraft.service.entity.Image"/>
        <mapping class="ru.sbercraft.service.entity.PersonalInformation"/>
        <mapping class="ru.sbercraft.service.entity.Room"/>
        <mapping class="ru.sbercraft.service.entity.Schedule"/>
        <mapping class="ru.sbercraft.service.entity.StructureDivision"/>
        <mapping class="ru.sbercraft.service.entity.User"/>
        <mapping class="ru.sbercraft.service.entity.Worker"/>
        <mapping class="ru.sbercraft.service.entity.Audit"/>
        <!--        <property name="current_session_context_class">thread</property>-->
        <!--        <property name="connection.pool_size">3</property>-->
    </session-factory>
</hibernate-configuration>