<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:insert="~{fragment :: header}"></div><!--Страница выбора пользователя для добавления фото-->
    <h1>Страница добавления ребенка в отряд!</h1>
    <div th:each="structure : ${structures}">
        <form th:action="@{'/worker/structures/' + ${userId} + '/' + ${structure.id}}" method="post">
            <button th:text="|Добавить ребенка в ${structure.name} ${structure.typeStructure.name()}|">User</button>
        </form>
    </div>
    <div style="color: red" th:if="${errors}">
        <p th:each="error : ${errors}" th:text="${error.defaultMessage}">
            Error message
        </p>
    </div>
    <div th:if="${!userHaveStructure.isEmpty()}">
        <p th:text="|Ребенка находится в ${userHaveStructure.get().name}е|" >User</p>
    </div>
</body>
</html>