<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:insert="~{fragment :: header}"></div>
    <a href="/admin/home">На главную</a>
    <h1>Страница дисциплины</h1>
    <h3>Рассписание</h3>
    <h3>Лидеры</h3>
    <p th:text="${event.name}"></p>
    <form th:action="@{${event.id} + '/update'}" method="post">
        <label for="name">Name:
            <input id="name" th:value="${event.name}" type="text" name="name">
        </label><br>
        <select name="category">
            <option th:each="category : ${categories}"
                    th:value="${category}"
                    th:text="${category}">Category</option>
        </select><br>
        <button>Редактировать</button>
    </form>
    <div style="color: red" th:if="${errors}">
        <p th:each="error : ${errors}" th:text="${error.defaultMessage}">
            Error message
        </p>
    </div>
    <form th:action="@{${event.id} + '/delete'}" method="post">
        <button>Удалить</button>
    </form>
</body>
</html>