<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:insert="~{fragment :: header}"></div>
    <h1>Страница создания рассписания</h1>
    <form action="/worker/schedules/create" method="post">
        <label for="createdUser">
            <input id="createdUser" type="hidden" name="createdUser" th:value="${createdUser}">
        </label><br>
        <select name="user">
            <option th:each="user : ${users}"
                    th:value="${user.username}"
                    th:text="${user.username}">User</option>
        </select><br>
        <select name="structureDivision">
            <option th:each="structureDivision : ${structureDivisions}"
                    th:value="${structureDivision.name}"
                    th:text="${structureDivision.name}">StructureDivision</option>
        </select><br>
        <label for="dateTime">
            <input id="dateTime" type="datetime-local" name="dateTime" th:value="${dateTime}">
        </label><br>
        <label for="status">
            <input id="status" type="hidden" name="status" value="CREATED">
        </label><br>
        <label for="action">
            <input id="action" type="text" name="action" th:value="${action}">
        </label><br>
        <button>Добавить рассписание</button>
    </form>
</body>
</html>