<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:insert="~{fragment :: header}"></div>
    <p>Список забронированных экскурсий</p>
    <div th:if="${bookings.isEmpty()}">
        Вы не забронировали не одной экскурсии!
    </div>
    <div th:each="booking : ${bookings}">
        <p th:text="|Название экскурсии: ${booking.excursion} Цена: ${booking.purchasePrice} Статус: ${booking.paymentStatus}|">Excursion</p>
    </div>
    <a href="/camper/excursions">Записаться на экскурсию</a><br>
</body>
</html>