<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:insert="~{fragment :: header}"></div>
    <p th:text="|Вы на странице экскурсии ${excursion.service}!|">Страница экскурсии</p>
    Красивое описание экскурсии!
    <form action="/camper/user-excursion/book" method="post" style="display: inline;">

        <input type="hidden" name="excursionId" th:value="${excursion.id}">
        <input type="hidden" name="purchasePrice" th:value="${excursion.price}">
        <input type="hidden" name="paymentStatus" value="PENDING">

        <select name="paymentMethod" style="margin: 0 10px; padding: 5px;">
            <option th:each="paymentMethod : ${paymentMethods}"
                    th:value="${paymentMethod}"
                    th:text="${paymentMethod}">paymentMethod</option>
        </select>

        <input type="text" name="notes">
        <button>Забронировать экскурсию</button>
    </form>

</body>
</html>